body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

p {
	margin: 10px 0px 10px 0px;
}

h1 {
	margin: 0px;
	line-height: 1;
}

h2 {
	margin: 20px 0px 0px 0px;
}

td {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

tr {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

header {
	margin: 10px;
	padding: 0px;
}

footer {
	position: absolute;
	bottom: 0px;
	margin: 10px;
	padding: 0px;
	font-size: 10px;
}

#title {
	font-size: 46px;
	text-align: center;
}

#monaco {
	border-width: 0px;
	height: 850px;
}

.content {
	margin: 10px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	table-layout: fixed;
	width: 100%;
}

.editor {
	width: 100%;
	vertical-align: top;
}

.legend {
	padding: 0px 30px 0px 30px;
	width: 320px;
	vertical-align: top;
	font-size: 12px;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #252525;
		color: #d4d4d4;
	}
	
	a:link, a:visited, a:active {
		color: #d4d4d4;
	}

	a:hover {
		color: #569cd6;
	}

	#logo {
		display: table-cell;
        vertical-align: middle;
		width: 32px;
		height: 32px;
		background-color: #ffffff;
		color: #000000;
		text-align: center;
		font-family: "Arial Black", Gadget, sans-serif;
		font-size: 20px;
		
	}

	.legend-example-string {
		display: inline;
		color: #ce9178;
	}

	.legend-example-operator {
		display: inline;
		color: #569cd6;
	}
}

/* light theme */
@media (prefers-color-scheme: light) {
	body {
		background-color: #f8f8f8;
		color: #000000;
	}

	a:link, a:visited, a:active {
		color: #000000;
	}

	a:hover {
		color: #0000ff;
	}

	#logo {
		display: table-cell;
        vertical-align: middle;
		width: 32px;
		height: 32px;
		background-color: #000000;
		color: #ffffff;
		text-align: center;
		font-family: "Arial Black", Gadget, sans-serif;
		font-size: 20px;
		
	}

	.legend-example-string {
		display: inline;
		color: #008800;
	}

	.legend-example-operator {
		display: inline;
		color: #0000dd;
	}
}